/*============= GENERAL ================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'IBM Plex Sans', Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	font-weight: 400;
	color: #333;
}

#wrapper {
	margin: auto;
}

.group:after {
	display: table;
	content: "";
	clear:both;
}

h3 {
	text-align: center;
	font-weight: 400;
	font-size: 2em;
	padding-bottom: 7px;
}

h4 {
	font-weight: 800;
	font-size: 1.125em;
	letter-spacing: 0.05em;
}

section {
	padding: 100px 0;
}

.about-section,
.activities-section,
.contact-section,
.movies-content {
	width: 90%;
	max-width: 1200px;
	text-align: left;
	margin: 0 auto;
}

hr {
	height: 1px;
	width: 150px;
	text-align: center;
	margin: 0 auto;
	background: #666;
	position: relative;
	border: 0;
}

.section-title {
	margin-bottom: 70px;
}
/*============= HEADER ================*/
.main-header {
	height: 1000px;
	background: linear-gradient(rgba(51,84,129,.7), rgba(51,84,129,.7)),
				url("images/lake.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	text-align: center;
  	border-bottom: 4px solid #a4bcdb;
  	color: #fff;
  	font-family: 'IBM Plex Sans', Arial, sans-serif;
  	margin: 0 auto;
}

.main-nav {
	padding-top: 15px;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
}

.nav-container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	text-align: center;
}

.nav-scroll {
	-webkit-transition: all  0.2s ease-in;
  	-moz-transition: all  0.2s ease-in;
  	-o-transition: all  0.2s ease-in;
  	transition: all  0.2s ease-in;
	background-color: rgba(51,84,129,.9);
	padding-top: 10px;
}

.menu {
	float: right;
	display: inline;
	padding-top: 10px;
}

.menu li {
	list-style: none;
	display: inline;
	font-size: 1.125em;
	line-height: 50px;
	font-weight: 400;
}

li a {
	text-decoration: none;
	color: #fff;
	padding: 20px 10px 0px;
}

li a:hover {
	color: #a4bcdb;
}

li a:focus {
	color: #a4bcdb;
}

.title {
	padding-top: 270px;
	font-size: 5em;
	letter-spacing: -0.02em;
	line-height: 1.3;
	text-shadow: 0 1px 1px #4b4b4b;
}

.subtitle {
	font-size: 2.25em;
	line-height: 1.3;
	border-top: 2px solid #fff;
	display: inline;
}

.logo {
	float: left;
	height: 60px;
}

.down-arrow {
	display: block;
	width: 50px;
	margin: 150px auto;
}

/*========== ABOUT SECTION =============*/

.culture-section,
.history-section,
.environment-section {
	box-sizing: border-box;
	width: 33.33%;
	display: inline-block;
	padding: 0 10px;
}

.column-content {
	min-height: 330px;
	padding: 15px 20px;
	background-color: #f2f2f2;
	position: relative;
}

.culture-section{
	float: left;
}

.environment-section {
	float: right;
}

.column-content h4 {
	font-size: 1.25em;
	margin-bottom: 10px;
	font-weight: 600;
}

.section-image {
	width: 100%;
	display: block;
}

.column-content p {
	padding-bottom: 70px;
	min-height: 220px;
}

.column-content button {
	background-color: #fff;
	border: 1px solid #cdcdcd;
	border-radius: 10px;
	color: #666;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 20px;
	font-size: 1.125em;
	letter-spacing: 0.05em;
}

.about-section button:hover {
	background-color: #E6E6E6;
	border: 1px solid #cdcdcd;
	color: #335481;
}

/*======== ACTIVITIES SECTION  =========*/
#activities {
	background-color: #f9f9f9;
}

.leftImgages,
.middleImages,
.rightImages {
	box-sizing: border-box;
	display: inline-block;
	width: 33.33%;
	padding-right: 20px;
}

.image {
	width: 100%;
	display: block;
}

.leftImgages {
	float: left;
}

.rightImages {
	float: right;
}

.imageContainer {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}

.imageTitle {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 60px 0px 15px 30px;
	width: 100%;
	text-shadow: 0 2px 10px rgba(0,0,0,0.7);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,
				rgba(76,76,76,0.7) 100%);
	font-size: 1.125em;
}

.hiddenCaption {
	position: absolute;
	top: 100%;
	height: 100%;
	text-align: left;
	margin:auto;
	padding: 40px 30px 0;
	background: rgba(51,84,129,.8);
	color: #fff;
	opacity: 0;
	transition: all .25s ease-in-out;
}

.hiddenTitle {
	padding-bottom: 20px;
	border-bottom: 1px solid #fff;
}

.hiddenCaption p {
	padding-top: 15px;
}

.imageContainer:hover .imageTitle {
	opacity: 0;
}

.imageContainer:hover .hiddenCaption {
	opacity: 1;
	top: 0;
}

span {
	font-size: 1.25em;
}

/*============= MOVIES ================*/
.movies-section {
	height: 500px;
	background: linear-gradient(rgba(51,84,129,.7), rgba(51,84,129,.7)),
					url("images/visit.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	text-align: center;
  	color: #fff;
  	font-family: 'IBM Plex Sans', Arial, sans-serif;
  	margin: auto;
}

.movies-content p {
	text-align: center;
	font-size: 1.125em;
	padding-top: 40px;
}

/*============= CONTACT ================*/
#contact {
	background: #f9f9f9;
}
.contact-section {
	height: 500px;
	padding: 30px;
}

iframe {
	float: left;
	width: 55%;
}

form {
	float: right;
	width: 40%;
	height: 450px;
}

input, textarea {
	color: #666;
	display: block;
	margin-bottom: 30px;
	width: 100%;
	border: none;
	border-radius: 4px;
	padding: 10px;
	border: 1px solid #cdcdcd;
}

input:focus,
textarea:focus {
	border: 1px solid #335481;
}

.submit {
	width: 100%;
	background-color: #a4bcdb;
	color: #335481;
	border-radius: 5px;
	padding: 10px;
	border: none;
	font-size: 1.125em;
	letter-spacing: 0.05em;
	margin-top: 20px;
}

.submit:hover {
	background-color: #335481;
	color: #fff;
}

/*============= FOOTER  ================*/
.main-footer {
	margin: 0;
	height: 70px;
	background-color: #335481;
	border-top: 4px solid #a4bcdb;
	text-align: center;
	color: #fff;
}
.main-footer p {
	font-size: 0.875em;
	line-height: 65px;
}

.arrow {
	float: right;
	width: 48px;
	position: relative;
	bottom: 20px;
	right: 30px;
}

/*============= MEDIA QUERIES  ================*/
@media all and (max-width:480px) {
	.culture-section,
	.history-section,
	.environment-section {
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}
	section {
		padding: 50px 0;
	}
}